* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3cb371;
}

main {
    display: flex;
    max-width: 1080px;
    margin: auto;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 10px;
}

.section-1 {
    width: 70%;
}

.section-2 {
    width: 30%;
}

section img {
    width: 100%;
    height: 100%;
}

section div {
    flex-grow: 1;
}

.lg-box, .sm-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    overflow: hidden;
}

section div span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 20px;
    font-size: 14px;
}

section div span h2 {
    margin-bottom: 10px;
}

section div span:nth-last-of-type(1){
    flex-direction: row;
    font-size: 10px;
}

@media (max-width: 600px){
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 20px 10px 0px;
        
    }
    .section-2, .section-1 {
        width: 100%;
    }
}